<div
  class="crcCont"
  style="
    background-color: rgba(242, 243, 247, 0.7);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  "
>
  <div class="createRCSection mat-elevation-z3">
    <h2 style="color: rgb(158, 158, 158)">Create Rental Contract</h2>
    <mat-divider></mat-divider>

    <div class="tabsContainer">
      <div class="tabsLeft">
        <div
          (click)="showFirst()"
          class="stepperHeadings"
          [ngClass]="first ? 'active' : ''"
        >
          <div class="sthicon">
            <mat-icon>construction</mat-icon>
          </div>

          <div class="sthtxt">
            Select Equipment
            <p>Select one Equipment from the available Equipments</p>
          </div>
        </div>

        <div
          (click)="showSecond()"
          class="stepperHeadings"
          [ngClass]="second ? 'active' : ''"
        >
          <div class="sthicon">
            <mat-icon>info</mat-icon>
          </div>
          <div class="sthtxt">
            Add Details
            <p>Add the details for Rental Contract</p>
          </div>
        </div>

        <div
          (click)="showThird()"
          class="stepperHeadings"
          [ngClass]="third ? 'active' : ''"
        >
          <div class="sthicon">
            <mat-icon>attach_file</mat-icon>
          </div>
          <div class="sthtxt">
            Documents
            <p>Attach Documents and Images to the Rental Contract</p>
          </div>
        </div>

        <div
          (click)="showFourth()"
          class="stepperHeadings"
          [ngClass]="fourth ? 'active' : ''"
        >
          <div class="sthicon">
            <mat-icon>verified</mat-icon>
          </div>
          <div class="sthtxt">Submit</div>
        </div>
      </div>

      <div class="tabsRight">
        <div class="rightTabs" *ngIf="first">
          <p class="rightTabHeader">
            Select Equipment
            <mat-divider></mat-divider>
          </p>

          <app-recent-quotations></app-recent-quotations>
          <div class="actionsSection">
            <button matTooltip="Info about the action" class="CRCNextButton" (click)="showSecond()">
              Next <mat-icon>keyboard_tab</mat-icon>
            </button>
          </div>
        </div>

        <div class="rightTabs" *ngIf="second">
            <p class="rightTabHeader">
                Add Details
                <mat-divider></mat-divider>
              </p>
          <div class="actionsSection" style="margin-top: 0">
            <button class="CRCNextButton" (click)="showThird()">
              Next <mat-icon>keyboard_tab</mat-icon>
            </button>
          </div>
        </div>

        <div class="rightTabs" *ngIf="third">
          <div class="uploadDocument">
            <p class="rightTabHeader" style="line-height: 0.5rem;">
                Upload Document
                <mat-divider></mat-divider>
              </p>
            <div class="fileUp">
                <mat-icon>upload_file</mat-icon>
              <input type="file" onchange="console.log(event.target.files)" />
            </div>
          </div>

          <div class="uploadImage">
            <p class="rightTabHeader" style="margin-top: 1rem; line-height: 0.5rem;">
                Upload Image
                <mat-divider></mat-divider>
              </p>
            <div class="fileUp">
                <mat-icon>image</mat-icon>
              <input type="file" onchange="console.log(event.target.files)" />
            </div>
          </div>
          <div class="actionsSection" style="margin-top: 0">
            <button class="CRCNextButton" (click)="showFourth()">
              Next <mat-icon>keyboard_tab</mat-icon>
            </button>
          </div>
        </div>

        <div class="rightTabs" *ngIf="fourth">
            <p class="rightTabHeader">
                Submit
                <mat-divider></mat-divider>
              </p>
        </div>
      </div>
    </div>
  </div>
</div>

