.recentContractsSection {
    width: 100%;
    background-color: #fff;
}


.tableTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    padding: 10px;

    .searchbar {
        border: 1px solid #c3cdd5;
        height: 30px;
        border-radius: 5px;
        border-color: white;

    }

    .setionHeader {
        width: 70%;
        font-size: 16px;
        font-weight: 500;
        color: rgb(125, 118, 207);
    }



    .btn-group {
        width: 30%;
        height: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;


        button {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
            background-color: #ececec !important;
            border: none !important;

            .sideNav-link-icon {
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(125, 118, 207);
            }
        }
    }
}

.tblheader {
    background-color: #ececec !important;
    height: 50px;
    border: none !important;
    color: #61686b !important;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
    height: 34px;
    padding: 0 0 5px 5px;
}

.mat-mdc-row,
.mdc-data-table__row,
.cdk-row,
.ng-star-inserted {
    height: 30px;

    .mdc-data-table__content {
        border: 1px solid black !important;
    }

    .mat-sort-header,
    .mat-mdc-header-cell,
    .mdc-data-table__header-cell,
    .cdk-header-cell,
    .tblheader,
    .cdk-column-tRcno,
    .mat-column-tRcno,
    .ng-tns-c3118678575-2 {
        width: 12%;
    }

    .mat-sort-header,
    .mat-mdc-header-cell,
    .mdc-data-table__header-cell,
    .cdk-header-cell,
    .tableTh,
    .cdk-column-select,
    .mat-column-select,
    .ng-tns-c3118678575-1 {
        width: 2%;
    }

    .mat-sort-header,
    .mat-mdc-header-cell,
    .mdc-data-table__header-cell,
    .cdk-header-cell,
    .tblheader,
    .cdk-column-tMcod,
    .mat-column-tMcod,
    .ng-tns-c3118678575-3 {
        width: 15%;
    }

    // .mat-sort-header,
    // .mat-mdc-header-cell,
    // .mdc-data-table__header-cell,
    // .cdk-header-cell,
    // .tblheader,
    // .cdk-column-tDsca,
    // .mat-column-tDsca,
    // .ng-tns-c3118678575-4 {
    //     width: 40%;
    // }



}


.mat-mdc-cell,
.mdc-data-table__cell,
.cdk-cell,
.cdk-column-tRcno,
.mat-column-tRcno,
.ng-star-inserted {
    border: 1px solid #c3cdd5;
}

.fcol2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.thHeader {
    width: 100%;
    text-align: left;
}

.mat-mdc-cell,
.mdc-data-table__cell,
.cdk-cell,
.cdk-column-tRcno,
.mat-column-tRcno,
.ng-star-inserted {
    border-right: none;
    border-left: none;
    vertical-align: middle;
}

.mat-sort-header,
.mat-mdc-header-cell,
.mdc-data-table__header-cell,
.cdk-header-cell,
.tableTh,
.cdk-column-select,
.mat-column-select,
.ng-tns-c3118678575-1 {
    vertical-align: middle;
}

.mat-sort-header{
    width: 100% !important;
}

.tableBlurred{
    // background-color: #61686b;
    opacity: 0.3;
}

.example-form-field {
    margin: 0;
  }
  
::ng-deep .modal-backdrop{
    z-index: -1 !important;
}


.modal {
    z-index: 9999 !important;
    width: 100%;
    border: 1px solid red;
    // padding: 0;

    // .modal-dialog{
    //     width: 100% !important;
    //     border: 1px solid black;
    // }
 }

//  .modal-ku {
//     width: 500px !important;
//     // margin: auto;
//   }