.dbCardsSection {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // padding: 1rem;
    // padding-left: 0;
    // padding-right: 0;
    margin-top: 1.5rem;

    .dbCard {
        width: 27%;
        height: 28rem;
        padding: 0.8rem;
        border: 1px dashed #efefef;
        background-color: rgba(13, 167, 89, 0.1);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



        // &:hover{
        //     background-color: rgba(0, 0, 0, 0.3) !important;
        //     // transform: scale(0);
        //     transition: all 0.3s ease;
        // }

        .dbCardMainHeader {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .dbCardChildHeader {
            color: rgba(82, 82, 108, 0.8);
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 0.5rem;
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.7px;

            mat-icon {
                margin-right: 0.4rem;
            }
        }

        .dbCardCdesc {
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.7px;
            margin-top: 0.5rem;
        }

        .dbCardContendRows {
            margin-top: 0.8rem;
            // border: 1px solid red;
            background: transparent;

            .tbDesc,
            .tbDescView {
                width: 13rem;
                // border: 1px solid red;

            }

            .tbValue,
            .tbDesc {
                color: rgba(82, 82, 108, 0.8);

                font-size: 14px;
                line-height: 1.4;
                letter-spacing: 0.7px;
                height: 1.5rem;


                // border: 1px solid red;
            }

            .tbValue {
                // border: 1px solid red;
                width: 4rem;
                text-align: right;
            }

            .tbValueView {
                width: 4rem;
            }

            .tbDescView,
            .tbValueView {
                color: rgba(82, 82, 108, 0.8);

                font-size: 14px;
                // line-height: 1.4;
                letter-spacing: 0.7px;
                // height: 1rem !important;
                background-color: rgba(110, 100, 176, 0.1);
                // border: 1px solid red;
            }

            .tbDescView{
                background-color: rgba(20, 19, 23, 0.1) !important;
            }
        }

        mat-card-actions {
            height: 2rem;
            // border: 1px solid red;
            // margin-top: 0.8rem;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // button{
            //     &:hover ~ .dbCard{
            //         background-color: black !important;
            //         // transform: scale(100%);
            // }
            // }

        }

        mat-card-footer {
            display: flex;
            align-items: baseline;
            justify-content: left;
            padding: 0 1rem;
            height: 2rem;
            // border: 1px solid red;
            gap: 0.3rem;
            margin-top: 1rem;
            // margin-bottom: 0.5rem;

            mat-progress-bar {
                width: 93%;

            }
        }
    }


}

.dbCard:has(.dbCardButton:hover) {
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.viewTable:has(.dbCardButton:hover) {
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.4) !important;
}



.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: rgb(125, 118, 207);
}

.mat-mdc-row,
.mdc-data-table__row,
.cdk-row {
    height: 1.5rem;
}


.mat-mdc-paginator {
    // border: 1px solid red;
    // height: 1.5rem;
    padding: 0;
    line-height: 0.2rem;
    background-color: transparent;
    color: rgba(82, 82, 108, 0.8);

    font-size: 14px;
    letter-spacing: 0.7px;




}

mat-card-actions {
    display: flex;
    flex-direction: column;
}

.pagVisible {
    display: block !important;
    // letter-spacing: 1rem;
    display: flex;
    justify-content: space-between !important;
    
}

.actionsOnDetailsVisible{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

// ::ng-deep .mat-paginator-range-label{
//     display: none !important;
// }

::ng-deep .mat-mdc-paginator-range-label{
    text-align: right;
    margin: 0 !important;
}