.statisticsContainer{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    // border: 1px solid red;
    padding-right: 1rem;
    // .chartSection{
        // width: max-content;
    //     display: flex;
    // align-items: center;
    // justify-content: center;
        // border: 1px solid red;

        // canvasjs-chart{
        //     width: 70% !important;
        //     border: 1px solid red;
        // }
    // }
}

.chartSection{
    width: 33%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 0;
    // border: 1px solid red;

}

.chartDetails{
    width: 40%;
    height: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-left: 1%;
    padding-top: 1.5rem;

    p{
        width: 100%;
        text-align: left;
        font-size: 0.9rem !important;
        font-weight: 500;
        display: flex;align-items: center;justify-content: left;
        gap: 0.7rem;
    }
    .chartHeading{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0;
    }
   
    .chdesc{
        font-size: 0.7rem;
        font-weight: 500;
        color: grey;
    }
}

.chartHeading{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

// .chartSection{
//     display: flex;
// }