<div class="recentContractsSection">
  <div class="mat-elevation-z1" [ngClass]="modalOpen ? 'tableBlurred' : ''">
    <div class="tableTop">
      <div class="setionHeader"></div>
      <input
        style="display: none"
        class="searchbar"
        (keyup)="applyFilter($event)"
        placeholder="Ex. Test1"
        #input
      />

      <!-- </mat-form-field> -->

      <div
        class="btn-group"
        role="group"
        aria-label="Basic example"
        style="
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
        "
      >
        <div
          class="innerButtonClass"
          style="
            width: max-content;
            height: 80% !important;
            background-color: #ececec;
            border-radius: 0.5rem;
            /* border: 1px solid red; */
            display: flex !important;
            gap: 1rem;
          "
        >
          <button
            type="button"
            class="btn btn-secondary"
            matTooltip="Delete Row"
            matTooltipPosition="below"
            style="background-color: transparent !important;
            border: none;
            color: rgb(125, 118, 207);
            height: 100%;"
          >
            <mat-icon class="sideNav-link-icon">delete</mat-icon>
          </button>
          <button
            type="button"
            matRipple
            class="btn btn-secondary"
            (click)="getRecentContracts()"
            matTooltip="Refresh"
            matTooltipPosition="below"
            style="background-color: transparent !important;
            border: none;
            color: rgb(125, 118, 207);
            height: 100%;"
          >
            <mat-icon class="sideNav-link-icon">refresh</mat-icon>
          </button>
          <button type="button" class="btn btn-secondary" style="background-color: transparent !important;
          border: none;
          color: rgb(125, 118, 207);
          height: 100%;">
            <mat-icon class="sideNav-link-icon">lists</mat-icon>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            matTooltip="Download"
            matTooltipPosition="below"
            style="background-color: transparent !important;
            border: none;
            color: rgb(125, 118, 207);
            height: 100%;"

(click)="exportToExcel()"
          >
            <mat-icon class="sideNav-link-icon">download</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="table custom-table"
    >
      <ng-container matColumnDef="select">
        <th
          class="tblheader"
          mat-header-cell
          *matHeaderCellDef
          class="tableTh"
          style="background-color: #ececec; border: none; width: max-content"
        >
          <input type="checkbox" name="" id="" style="height: 100%" />
        </th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox" name="" id="" />
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="tRcno">
        <th class="tblheader" mat-header-cell *matHeaderCellDef>
          <div class="fcol2">
            <span class="thHeader" mat-sort-header>Contract</span>
            <input
              class="searchbar"
              (keyup)="applyFilter($event)"
              #input
              style="border: none; width: 100%"
            />
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.tRcno }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tMcod">
        <th class="tblheader" mat-header-cell *matHeaderCellDef>
          <div class="fcol2">
            <span class="thHeader" mat-sort-header>Equipment</span>
            <input
              class="searchbar"
              (keyup)="applyFilter($event)"
              #input
              style="border: none; width: 100%"
            />
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.tMcod }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="tDsca">
        <th class="tblheader" mat-header-cell *matHeaderCellDef>
          <div class="fcol2">
            <span class="thHeader" mat-sort-header>Description</span>
            <input
              class="searchbar"
              (keyup)="applyFilter($event)"
              #input
              style="border: none; width: 100%"
            />
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.tDsca }}</td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="tIwar">
        <th
          class="tblheader"
          mat-header-cell
          *matHeaderCellDef
          style="padding-right: 5px"
        >
          <div class="fcol2">
            <span class="thHeader" mat-sort-header>Warehouse</span>
            <input
              class="searchbar"
              (keyup)="applyFilter($event)"
              #input
              style="border: none; width: 100%"
            />
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.tIwar }}</td>
      </ng-container>

      <ng-container matColumnDef="documents">
        <th
          class="tblheader"
          mat-header-cell
          *matHeaderCellDef
          style="width: 3% !important"
        >
          <div class="fcol2">
            <span class="thHeader" mat-sort-header style="border: none"
              >Docs</span
            >
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- <button type="button" class="btn btn-primary" (click)="toggleModalOpen()">
                Launch demo modal
              </button> -->
          <mat-icon
            (click)="toggleModalOpen()"
            style="
              cursor: pointer;
              width: 70%;
              color: rgb(125, 118, 207);
              font-size: 1rem;
              text-align: center;
            "
            matTooltip="View Attachements"
            matTooltipPosition="after"
            >visibility</mat-icon
          >
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="toggleModalOpen()">
                Launch demo modal
              </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"
      style="
        border-radius: 0 0 0.5rem 0.5rem !important;
        color: rgb(125, 118, 207);
      "
    ></mat-paginator>
  </div>
</div>

<div
  role="document"
  *ngIf="modalOpen"
  style="
    position: fixed;
    top: 30px;
    width: 80% !important;
    height: 80% !important;
    left: 10%;
  "
>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Documents</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="toggleModalOpen()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: 30rem !important">
      <p-galleria
        [value]="iframes"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '100%' }"
        [numVisible]="5"
        style="margin: auto; height: 100% !important"
      >
        <ng-template pTemplate="item" let-item>
          <iframe
            [src]="item.iframeSrc"
            style="width: 100%; height: 25rem !important; border: none"
          ></iframe>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div
            class="grid grid-nogutter justify-content-center"
            style="
              height: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <mat-icon
              style="
                background-color: white;
                color: black;
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
              "
              >edit</mat-icon
            >
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="toggleModalOpen()"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="toggleModalOpen()">
        Ok
      </button>
    </div>
  </div>
</div>
