<div class="dashboard">
  <app-count-widgets></app-count-widgets>

  
  <div class="componentsSection" style="margin-top: 1.5rem;">
    <div class="tablesSection">

      <mat-tab-group class="mat-elevation-z2" style="border-radius: 0.5rem">
        <mat-tab label="Recently Created Rental Contracts">
          <app-recent-contracts></app-recent-contracts>
        </mat-tab>
        <mat-tab label="Recently Created Rental  Quotations">
          <app-recent-quotations></app-recent-quotations>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="myTasksSection">
      <app-my-tasks></app-my-tasks>
    </div>
  </div>

  <div class="chartsSection">
    <app-statistics-section></app-statistics-section>
  </div>

  <div class="cardsSection">
    <app-db-cards-component></app-db-cards-component>
  </div>

  
</div>
