.myTask {
    width: 90%;
    height: 100%;
    background-color: #fff;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;
    padding-top: 0;
    cursor: pointer;
    overflow-y: scroll;

    h2 {
        // border: 1px solid red;
        height: 2rem;
        margin-bottom: 0;
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        // padding-left: 0.5rem;
        padding-bottom: 0;
        font-size: 1.1rem;
        // color: rgb(125, 118, 207);
        color: #141824;
    }

}



.myTask::-webkit-scrollbar {
    display: none;
}


.actFeedCard {
    width: 100%;
    // border: 1px solid red;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0.1rem;

    &:hover {
        background-color: rgb(238, 238, 238);
    }

    .afHeaderIconDiv {
        border: 1px solid #cdcfd5;
        width: 1.7rem;
        height: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        .afHeaderIcon {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
        }


    }

    .afHeaderTitle {
        // border: 1px solid red;
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .TaskTimestamp {
        // border: 1px solid red;
        padding: 0;
        width: 15%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: right;
        color: rgb(138, 148, 173, 1);
        font-size: .7rem;

        mat-icon {
            font-size: 1.1rem;
            width: max-content;
            height: max-content;
            width: max-content + 0.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: max-content;
            border-radius: 0.2rem;

            &:hover {
                background-color: white;

            }
        }
    }

}

.highlightBlue {
    color: #0080c7;

}


.cmpnoButton{
    width: max-content;
    height: max-content;
    background-color: rgb(236, 236, 236);
    color: rgb(94, 101, 96);
    // border: 1px solid rgb(94, 101, 96);
    border: none;
    border-radius: 0.2rem;
    padding: 0 1rem;
    margin-top: 0.3rem;
}




// .example-headers-align .mat-expansion-panel-header-description {
//     justify-content: space-between;
//     align-items: center;
//   }

//   .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
//     margin-left: 8px;
//   }