<div class="myTask mat-elevation-z2" style="border-radius: 0.5rem">
  <h2>Activity Feed</h2>

  <mat-expansion-panel hideToggle class="actFeedCard mat-elevation-z0">
    <mat-expansion-panel-header class="afHeader">
      <div class="afheaderIconDiv">
        <mat-icon class="afHeaderIcon">event_note</mat-icon>
      </div>
      <div class="afHeaderTitle">
        <div class="titleName" style="font-weight: 550;">Equipment 110 Delivery</div>

        <div class="TaskTimestamp">9:00am - 11:30am</div>
      </div>

      <button class="afHeaderEllipses">
        <mat-icon >more_vert</mat-icon>
      </button>
      
    </mat-expansion-panel-header>

    <mat-panel-description> Equipment 110 is to be delivered to XYZ Customer  </mat-panel-description>

    
  </mat-expansion-panel>

  <mat-divider style="background-color: #ececec"></mat-divider>


  <mat-expansion-panel hideToggle class="actFeedCard mat-elevation-z0">
    <mat-expansion-panel-header class="afHeader">
      <div class="afheaderIconDiv">
        <mat-icon class="afHeaderIcon" style="color: rgb(244, 157, 26);background-color: rgb(255, 214, 152);">task</mat-icon>
      </div>
      <div class="afHeaderTitle">
        <div class="titleName" style="font-weight: 550;">Personal data</div>

        <div class="TaskTimestamp">9:00am - 11:30am</div>
      </div>

      <button class="afHeaderEllipses">
        <mat-icon >more_vert</mat-icon>
      </button>
      
    </mat-expansion-panel-header>

    <mat-panel-description> Type your name and age </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-divider style="background-color: #ececec"></mat-divider>


  <mat-expansion-panel hideToggle class="actFeedCard mat-elevation-z0">
    <mat-expansion-panel-header class="afHeader">
      <div class="afheaderIconDiv">
        <mat-icon class="afHeaderIcon">event_note</mat-icon>
      </div>
      <div class="afHeaderTitle">
        <div class="titleName" style="font-weight: 550;">Personal data</div>

        <div class="TaskTimestamp">9:00am - 11:30am</div>
      </div>

      <button class="afHeaderEllipses">
        <mat-icon >more_vert</mat-icon>
      </button>
      
    </mat-expansion-panel-header>

    <mat-panel-description> Type your name and age </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-divider style="background-color: #ececec"></mat-divider>


  <mat-expansion-panel hideToggle class="actFeedCard mat-elevation-z0">
    <mat-expansion-panel-header class="afHeader">
      <div class="afheaderIconDiv">
        <mat-icon class="afHeaderIcon">event_note</mat-icon>
      </div>
      <div class="afHeaderTitle">
        <div class="titleName" style="font-weight: 550;">Personal data</div>

        <div class="TaskTimestamp">9:00am - 11:30am</div>
      </div>

      <button class="afHeaderEllipses">
        <mat-icon >more_vert</mat-icon>
      </button>
      
    </mat-expansion-panel-header>

    <mat-panel-description> Type your name and age </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-divider style="background-color: #ececec"></mat-divider>


  <mat-expansion-panel hideToggle class="actFeedCard mat-elevation-z0">
    <mat-expansion-panel-header class="afHeader">
      <div class="afheaderIconDiv">
        <mat-icon class="afHeaderIcon">event_note</mat-icon>
      </div>
      <div class="afHeaderTitle">
        <div class="titleName" style="font-weight: 550;">Personal data</div>

        <div class="TaskTimestamp">9:00am - 11:30am</div>
      </div>

      <button class="afHeaderEllipses">
        <mat-icon >more_vert</mat-icon>
      </button>
      
    </mat-expansion-panel-header>

    <mat-panel-description> Type your name and age </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</div>

