<div class="myTask mat-elevation-z2" style="border-radius: 0.5rem">
  <h2>Activity Feed</h2>
  <mat-divider style="background-color: #ececec"></mat-divider>

  <div hideToggle class="actFeedCard">
    <div class="afHeaderIconDiv">
      <mat-icon class="afHeaderIcon" style="color: rgba(37, 176, 3, 1)"
        >task</mat-icon
      >
    </div>

    <div class="afHeaderTitle">
      <div
        class="titleName"
        style="
          font-weight: 570;
          text-align: left;
          font-size: 0.8rem;
          line-height: 1.2;
        "
      >
      Assigned to serve as the project's director
      </div>
      <div
        class="titleAuthor"
        style="
          text-align: left;
          width: 100%;
          font-size: 0.64rem;
          line-height: 1.2;
          margin-bottom: 0.5rem;
        "
      >
        by <span class="highlightBlue">John N. Ward</span>
      </div>

    </div>

    <div class="TaskTimestamp">9:00am</div>
    <!-- <button class="afHeaderEllipses">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </div>

  <mat-divider style="background-color: #f1efef !important; margin-bottom: 0.2rem;"></mat-divider>

  <div class="actFeedCard">
    <div class="afHeaderIconDiv">
      <mat-icon class="afHeaderIcon" style="color: #cc1b00"
        >notifications</mat-icon
      >
    </div>

    <div class="afHeaderTitle">
      <div
        class="titleName"
        style="
          font-weight: 570;
          text-align: left;
          font-size: 0.8rem;
          line-height: 1.2;
        "
      >
        Rental Contract RCA100029 not returned
      </div>
      <div
        class="titleAuthor"
        style="
          text-align: left;
          width: 100%;
          font-size: 0.64rem;
          line-height: 1.2;
          margin-bottom: 0.5rem;
        "
      >
        by <span class="highlightBlue">Edward Hopper</span>
      </div>
 
    </div>

    <div class="TaskTimestamp">9:00am</div>
    <!-- <button class="afHeaderEllipses">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </div>
  <mat-divider style="background-color: #f1efef !important; margin-bottom: 0.2rem;"></mat-divider>
  <div class="actFeedCard">
    <div class="afHeaderIconDiv">
      <mat-icon class="afHeaderIcon" style="color: rgba(0, 151, 235, 1)"
        >mail</mat-icon
      >
    </div>

    <div class="afHeaderTitle">
      <div
        class="titleName"
        style="
          font-weight: 570;
          text-align: left;
          font-size: 0.8rem;
          line-height: 1.2;
        "
      >
        Quary about purchased soccer socks
      </div>
      <div
        class="titleAuthor"
        style="
          text-align: left;
          width: 100%;
          font-size: 0.64rem;
          line-height: 1.2;
          margin-bottom: 0.5rem;
        "
      >
        by <span class="highlightBlue">Edward Hopper</span>
      </div>
    
    </div>

    <div class="TaskTimestamp">9:00am</div>
    <!-- <button class="afHeaderEllipses">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </div>
</div>
